/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 22, ../sass/screen.scss */
html, body {
  background-color: #101010;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  font-size: 120%;
  width: 100%;
}

/* line 29, ../sass/screen.scss */
a {
  color: #b2b23b;
}
/* line 24, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: white;
}

/* line 33, ../sass/screen.scss */
.panel, header #header, #main, .home #home .panel3 {
  border: 3px solid #3f3f15;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  -o-border-radius: 8px;
  -ms-border-radius: 8px;
  -khtml-border-radius: 8px;
  border-radius: 8px;
  display: block;
  background-color: #4d4d22;
  vertical-align: middle;
  padding: 0.5em;
}

/* line 43, ../sass/screen.scss */
abbr {
  border-bottom: 1px dotted #b2b23b;
}

/* line 48, ../sass/screen.scss */
.tooltip {
  position: absolute;
  background-color: black;
  color: white;
  font-size: 60%;
  max-width: 20em;
  line-height: 1.2em;
  padding: 5px;
  z-index: 100;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}

/* line 60, ../sass/screen.scss */
h1 {
  text-align: center;
  font-size: 200%;
  font-weight: bold;
}

/* line 66, ../sass/screen.scss */
header {
  position: relative;
  width: 100%;
}
/* line 70, ../sass/screen.scss */
header #header {
  margin: 10px 10px 5px 10px;
}

/* line 75, ../sass/screen.scss */
#container {
  position: relative;
  width: 100%;
}

/* line 79, ../sass/screen.scss */
#main {
  margin: 5px 10px 10px 10px;
  display: inline-block;
}

/* line 85, ../sass/screen.scss */
.messages {
  background-color: #79793e;
  list-style-type: circle;
  font-size: 80%;
  padding: 0.5em 1em 0.5em 2em;
  margin: 1em 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}

/* line 93, ../sass/screen.scss */
.errorlist {
  background-color: #79793e;
  list-style-type: circle;
  font-size: 80%;
  padding: 0.5em 1em 0.5em 2em;
  margin: 1em 0;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}

/* line 103, ../sass/screen.scss */
.dashboard html, .dashboard body {
  height: 100%;
}
/* line 106, ../sass/screen.scss */
.dashboard #container header {
  display: none;
}
/* line 110, ../sass/screen.scss */
.dashboard table {
  text-align: center;
}
/* line 113, ../sass/screen.scss */
.dashboard table caption {
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
}
/* line 114, ../sass/screen.scss */
.dashboard table caption .editLinks {
  text-align: right;
  float: right;
  vertical-align: middle;
  font-size: 80%;
}
/* line 124, ../sass/screen.scss */
.dashboard table thead {
  color: #b2b23b;
}
/* line 126, ../sass/screen.scss */
.dashboard table thead th {
  padding: 0 0.3em 0.5em 0.3em;
}
/* line 131, ../sass/screen.scss */
.dashboard table tbody {
  font-size: 120%;
}
/* line 133, ../sass/screen.scss */
.dashboard table tbody tr {
  line-height: 1em;
}
/* line 136, ../sass/screen.scss */
.dashboard table tbody td, .dashboard table tbody th {
  vertical-align: top;
  padding: 0.5em 0.25em;
  border-top: 1px solid #3f3f15;
}
/* line 143, ../sass/screen.scss */
.dashboard table .mode {
  background-size: auto 1.5em;
  background-repeat: no-repeat;
  background-position: center 0.5em;
}
/* line 148, ../sass/screen.scss */
.dashboard table .mode abbr {
  min-width: 1.2em;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  border-bottom: none;
}
/* line 7, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.dashboard table .mode abbr {
  *display: inline;
}
/* line 153, ../sass/screen.scss */
.dashboard table .routeType2 {
  background-image: url("/static/img/routeType2.svg");
}
/* line 156, ../sass/screen.scss */
.dashboard table .routeType3 {
  background-image: url("/static/img/routeType3.svg");
}
/* line 159, ../sass/screen.scss */
.dashboard table .routeType4 {
  background-image: url("/static/img/routeType4.svg");
}
/* line 163, ../sass/screen.scss */
.dashboard table .code {
  min-width: 2em;
}
/* line 166, ../sass/screen.scss */
.dashboard table .arrives {
  min-width: 4em;
}
/* line 169, ../sass/screen.scss */
.dashboard table .departs {
  min-width: 4em;
}

/* line 176, ../sass/screen.scss */
.dashboard_list #main table {
  width: 100%;
  margin-bottom: 1em;
}
/* line 180, ../sass/screen.scss */
.dashboard_list #main table tr {
  line-height: 1.5em;
}
/* line 184, ../sass/screen.scss */
.dashboard_list #main table .copyLink {
  font-size: 80%;
}

/* line 191, ../sass/screen.scss */
.dashboard_form #main .editLinks {
  margin-bottom: 1em;
}
/* line 195, ../sass/screen.scss */
.dashboard_form form {
  max-width: 45%;
  font-size: 80%;
}
/* line 199, ../sass/screen.scss */
.dashboard_form form p {
  clear: left;
  padding-top: 1em;
}
/* line 203, ../sass/screen.scss */
.dashboard_form form p.submit {
  clear: left;
  margin-top: 1em;
  background-color: #79793e;
  vertical-align: middle;
  text-align: center;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  padding: 0.5em;
}
/* line 211, ../sass/screen.scss */
.dashboard_form form p.submit button {
  margin: 0;
  padding-left: 1em;
  padding-right: 1em;
}
/* line 218, ../sass/screen.scss */
.dashboard_form form label {
  float: left;
  width: 55%;
}
/* line 222, ../sass/screen.scss */
.dashboard_form form input, .dashboard_form form .mapSelect {
  float: left;
}
/* line 225, ../sass/screen.scss */
.dashboard_form form input, .dashboard_form form button {
  font-size: 90%;
  font-family: "Gill Sans", "Gill Sans MT", sans-serif;
  padding: 0.2em;
  margin-top: -0.3em;
}
/* line 231, ../sass/screen.scss */
.dashboard_form form input {
  border: 1px solid black;
}
/* line 234, ../sass/screen.scss */
.dashboard_form form .mapSelect {
  max-width: 45%;
}
/* line 236, ../sass/screen.scss */
.dashboard_form form .mapSelect span {
  color: #b2b23b;
}
/* line 241, ../sass/screen.scss */
.dashboard_form form .helptext {
  clear: left;
  display: block;
  font-size: 80%;
  color: #b2b23b;
  text-align: right;
  margin-right: 2em;
}
/* line 250, ../sass/screen.scss */
.dashboard_form form .routeForm {
  clear: left;
  border-top: 2px solid #3f3f15;
  margin-top: 2em 0;
  padding-bottom: 2em;
}
/* line 257, ../sass/screen.scss */
.dashboard_form form .dashboardForm {
  clear: left;
  padding-bottom: 3em;
}
/* line 262, ../sass/screen.scss */
.dashboard_form form .another {
  color: #b2b23b;
}
/* line 267, ../sass/screen.scss */
.dashboard_form #mapContainer {
  float: right;
  width: 50%;
  height: 400px;
  background-color: #79793e;
}
/* line 273, ../sass/screen.scss */
.dashboard_form #mapContainer #map {
  width: 100%;
  height: 100%;
  color: black;
}

/* line 281, ../sass/screen.scss */
.home {
  font-size: 100%;
  width: 100%;
}
/* line 285, ../sass/screen.scss */
.home h2, .home h3 {
  text-align: center;
  padding-bottom: 0.8em;
  font-weight: bold;
}
/* line 291, ../sass/screen.scss */
.home header {
  padding: 1em 0;
}
/* line 294, ../sass/screen.scss */
.home header h1 {
  color: #b2b23b;
}
/* line 299, ../sass/screen.scss */
.home .user {
  margin: 1em 0;
}
/* line 303, ../sass/screen.scss */
.home #home {
  width: 940px;
  margin: 0 auto;
  text-align: center;
}
/* line 308, ../sass/screen.scss */
.home #home .panel3 {
  margin: 10px;
  float: left;
  width: 260px;
  height: 10em;
  text-align: left;
}
/* line 316, ../sass/screen.scss */
.home #home .panel3 p {
  margin-bottom: 0.5em;
}
/* line 320, ../sass/screen.scss */
.home #home .panel3 ul {
  list-style-type: circle;
  margin-left: 30px;
}
/* line 327, ../sass/screen.scss */
.home #example iframe {
  width: 100%;
  font-size: 50%;
}

/* line 335, ../sass/screen.scss */
.login #main {
  text-align: center;
}
/* line 338, ../sass/screen.scss */
.login #main ul {
  margin: 1em auto;
}
/* line 341, ../sass/screen.scss */
.login #main ul li {
  display: inline;
  padding: 2em;
}
/* line 344, ../sass/screen.scss */
.login #main ul li form {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
/* line 7, ../../../../../../../../var/lib/gems/1.8/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
.login #main ul li form {
  *display: inline;
}
