body {
    padding-top: 60px;
}

footer {
	text-align: center;
}

.dashboard #schedule, 
.dashboard .content th {
	font-size: 23px;
}
.dashboard .twipsy {
	font-size: 18px;
}
.dashboard h1 em {
	font-size: 50%;
}
.dashboard #schedule tr.warning {
	color: #c43c35 !important;
}
.dashboard #schedule tr.missed,
.dashboard #schedule tr.missed th {
	color: #EDC4C2 !important;
	font-size: 18px;
}
.dashboard .mode {
	background-size: auto 28px;
	background-repeat: no-repeat;
	background-position: center 4px;
	padding-left: 0;
	padding-right: 0;
	width: 28px;
}
.dashboard #schedule tr.missed .mode {
	background-size: auto 23px;
	width: 23px;
	opacity: 0.3;
}
.dashboard .routeType2 {
	background-image: url("/static/img/routeType2.svg");
}
.dashboard .routeType3 {
	background-image: url("/static/img/routeType3.svg");
}
.dashboard .routeType4 {
	background-image: url("/static/img/routeType4.svg");
}
.dashboard #empty {
	display: none;
}
.dashboard #empty p {
	font-size: 18px;
	line-height: 23px;
}
.dashboard_form .delete {
	float: right;
}
.dashboard_form #map {
	height: 250px;
}
.dashboard_form form .clearfix::after {
	clear: left;
}


.headLinks {
	float: right;
	padding-top: 6px;
}

.twitterBtn,
.facebookBtn {
	padding-left: 27px;
	background-repeat: no-repeat;
	background-position: 0 50%;
}
.twitterBtn {
	background-image: url('../img/twitter.png');
}
.facebookBtn {
	background-image: url('../img/facebook.png');
}

#menu .profile {
	color: white;
	width: 220px;
}
#menu .profile img {
	float: left;
	padding: 4px 10px 0 0;
}
#menu .profile span {
	font-size: 80%;
}
.clear {
	clear: both;
}
#menu .dropdown-menu {
	max-width: none;
}
#menu .admin {
	color: red;
}

/* until there's some content above the table */
.dashboard_list .content tr:first-child th,
.dashboard_list .content tr:first-child td {
	border-top-width: 0;
}