{% extends "base.html" %}

{% block htmlclass%}{{block.super}} dashboard{% endblock %}
{% block title %}{{dashboard.name}}{% endblock %}

{% block extrahead %}
{{ block.super }}
{% endblock %}

{% block header %}
    {% if request.user == dashboard.user %}
    <div class="editLinks">
        <a href="{% url traveldash.mine.views.dashboard_edit dashboard.pk %}">Edit</a>
        <br/>
        <a href="{% url traveldash.mine.views.dashboard_list %}">My Dashboards</a>
    </div>
    {% endif %}

    <h1>{{ dashboard.name }}</h1>
    
{% endblock %}

{% block main %}
    <table>
        <thead>
            <th class="mode">&nbsp;</th>
            <th class="code">&nbsp;</th>
            <th class="name">Route</th>
            <th class="departs">Departs in</th>
            <th class="arrives">ETA</th>
        </thead>
        <tbody id="schedule"><tbody>
    </table>
{% endblock %}

{% block extrabody %}
{{ block.super }}
<script type="text/javascript" src="{{STATIC_URL}}js/libs/datejs.min.js" async="true"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/dashboard.js" async="true"></script>
{% endblock %}
