{% extends "base.html" %}

{% block htmlclass%}{{block.super}} dashboard{% endblock %}
{% block title %}{{dashboard.name}}{% endblock %}

{% block metahead %}
{{ block.super }}
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
{% endblock %}

{% block header %}{% endblock %}

{% block main %}
    <table>
        <caption>
            {% if request.user == dashboard.user %}
            <div class="editLinks">
                <a href="{% url traveldash.mine.views.dashboard_edit dashboard.pk %}">Edit</a>
                <br/>
                <a href="{% url traveldash.mine.views.dashboard_list %}">My Dashboards</a>
            </div>
            {% endif %}
        
            <h1>{{ dashboard.name }}</h1>
        </caption>

        <thead>
            <th class="mode">&nbsp;</th>
            <th class="code">&nbsp;</th>
            <th class="name">Route</th>
            <th class="departs">Departs in</th>
            <th class="arrives">ETA</th>
        </thead>
        <tbody id="schedule"><tbody>
    </table>
{% endblock %}

{% block extrabody %}
{{ block.super }}
<script defer src="{{STATIC_URL}}js/libs/datejs.min.js"></script>
<script defer src="{{STATIC_URL}}js/dashboard.js"></script>
{% endblock %}
