{% extends "base.html" %}

{% block htmlclass%}{{super}} dashboard_list{% endblock %}
{% block title %}My Dashboards{% endblock %}

{% block content %}
  <div class="content">
    <div class="page-header">
      <h1>Your Dashboards</h1>
    </div>

    <table>
        {% for dashboard in dashboard_list %}
            <tr>
                <th><a href="{{ dashboard.get_absolute_url }}">{{ dashboard.name }}</a></th>
                <td class="copyLink">Link: <a href="{{base_url}}{{dashboard.get_absolute_url}}">{{base_url}}{{dashboard.get_absolute_url}}</a></td>
                <td><a class="btn" href="{{ dashboard.get_edit_url }}">Edit</a></td>
            </tr>
        {% endfor %}
    </table>

    <p>
        <a class="btn large" href="{% url 'traveldash.mine.views.dashboard_create' %}">Create a New Dashboard</a>
    </p>
  </div>
{% endblock %}