{% extends "base.html" %}

{% block htmlclass%}{{super}} home{% endblock %}
{% block title %}TravelDash - Building Public Transport Dashboards for Auckland{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
  <div class="hero-unit">
    <h1>Your own Public Transport Dashboard</h1>
    <p>Just want to know when your next buses/trains home are? Me too! Your dashboard shows just the stops and times that matter to you.</p>
    <p><a href="/login/" class="btn primary large">Sign up and get started &raquo;</a></p>
  </div>

  <!-- Example row of columns -->
  <div class="row">
    <div class="span-one-third">
      <h2>Anywhere</h2>
      <p>Leave it open in a browser tab, load it on your phone, or embed a dashboard in your team wiki. Have different dashboards for getting to work, home, or school? No problems.</p>
    </div>
    <div class="span-one-third">
      <h2>Cities</h2>
      <p>Currently just Auckland and Wellington, New Zealand. Suggestions welcome for other cities.</p>
    </div>
    <div class="span-one-third">
      <h2>Example</h2>
      Check out {{example_dashboard.user}}'s <a href="{{example_dashboard.get_absolute_url}}">{{example_dashboard.name}} Dashboard</a>
    now.</p>
    </div>
  </div>
{% endblock content %}
