{% extends "base.html" %}

{% load socialregistration_tags %}

{% block title %}Sign In{% endblock %}

{% block header %}
    <h1>Sign In</h1>
{% endblock %}

{% block main %}
	{% if error %}
		<p>Your session timed out. Please try again.</p>
	{% else %}
		<p>Just a couple more details...</p>
		<form action="." method="post">
			<table>
				{{ form }}
			</table>
			{% social_csrf_token %}
			<p>NO spam, promise.</>
			<p><button type="submit" value="save">Save</button></p>
		</form>
	{% endif %}
{% endblock %}

