<!doctype html>
<html class="{% block htmlclass%}{% endblock %}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>{% block title %}{{title}}{% endblock %}</title>

  <link href="{{STATIC_URL}}css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <!--[if IE]>
      <link href="{{STATIC_URL}}css/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <![endif]-->

  <script src="{{STATIC_URL}}js/libs/modernizr-2.0.6.min.js"></script>
  
  {% block extrahead %}{% endblock %}
</head>

<body>
  <div id="container">
{% block content %}
    <header>
	  <div id="header">
{% block header %}
		<h1>{{title}}</h1>
{% endblock %}
{% block messages %}
		{% if messages %}
		<ul class="messages">
		  {% for message in messages %}
		  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
		  {% endfor %}
		</ul>
		{% endif %}
{% endblock %}
	  </div>
    </header>
    <div id="main" role="main">
{% block main %}{% endblock %}
    </div>
    <footer>
{% block footer %}{% endblock %}
    </footer>
{% endblock content %}
  </div>

  <!--script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script-->
  <script>window.jQuery || document.write('<script src="{{STATIC_URL}}js/libs/jquery-1.6.2.min.js"><\/script>')</script>

  <script defer src="{{STATIC_URL}}js/plugins.js"></script>
  <script defer src="{{STATIC_URL}}js/script.js"></script>

  {% comment %}
  <!-- Change UA-XXXXX-X to be your site's ID -->
  <script>
    window._gaq = [['_setAccount','UAXXXXXXXX1'],['_trackPageview'],['_trackPageLoadTime']];
    Modernizr.load({
      load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
    });
  </script>
  {% endcomment %}

  <!--[if lt IE 7 ]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
  
  {% block extrabody %}{% endblock %}
</body>
</html>
